*{
  font-family: 'Merriweather', serif;
font-family: 'Modak', cursive;
}
.App {
  text-align: center;
  color:#949EC4;
  font-size: 20px; 
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black; 
}
.btn{
  background: #117EEB;
  padding: 30px;
  border-radius: 20px;
  color: white;
  outline: none;
  font-size: 50px; 
}
.text{
  text-align: center;
  color:#949EC4;
}
.timerBarContainer{
  margin-top:30px;
  background: white;
  border-radius: 20px;
  width:100%;
  height: 50px;
  padding: 3px;
}
.input{
  width: 100%;
  display: block;
  height: 50px;
  outline: none;
  border-radius: 20px;
  border-color: 3px solid #949EC4;
  background:none;
  font-size: 20px;
  text-align: center;
  color: white;
}